/* Footer en Comun */
.footer__ppal {
  background-image: linear-gradient(to bottom, grey, #111111); }
  .footer__ppal .footer__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr; }
    .footer__ppal .footer__nav .footernav {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2; }
    .footer__ppal .footer__nav .footerredes {
      grid-column: 2/3;
      grid-row: 1/2;
      align-self: center;
      align-items: center; }
    .footer__ppal .footer__nav .footerder {
      grid-column: 3/4;
      grid-row: 1/2;
      align-self: flex-end;
      align-items: flex-end;
      display: flex;
      flex-direction: column; }
    .footer__ppal .footer__nav .footer__ul {
      margin: 20px; }
      .footer__ppal .footer__nav .footer__ul .footer__li {
        list-style: none;
        font-family: "Playfair Display", serif;
        color: black;
        font-weight: bolder; }
        .footer__ppal .footer__nav .footer__ul .footer__li a {
          text-decoration: none;
          font-family: "Playfair Display", serif;
          color: black; }
    .footer__ppal .footer__nav .footer__redes {
      display: flex;
      flex-direction: column; }
      .footer__ppal .footer__nav .footer__redes .footer__logos {
        width: 25px;
        color: whitesmoke; }
    .footer__ppal .footer__nav .footer__derechos {
      color: whitesmoke;
      font-family: "Playfair Display", serif;
      display: flex;
      flex-wrap: wrap; }

.header__ppal {
  background-color: #858585;
  position: sticky;
  top: 0px;
  z-index: 1; }

.nav-item:visited {
  color: purple; }

/* Pagina de Inicio */
.main__ppal {
  display: flex;
  color: black;
  font-family: "Ubuntu", sans-serif;
  background-image: linear-gradient(to bottom, white, grey); }

.card__img {
  width: auto;
  height: 280px; }

.card:hover {
  transform: scale(1.05, 1.05); }

.btn__pages {
  background-color: #858585; }

/* Pagina de biblioteca */
.main__ppal-biblio {
  display: flex;
  background-image: linear-gradient(to bottom, white, grey);
  flex-direction: column; }
  .main__ppal-biblio__biblio {
    display: flex;
    flex-wrap: wrap; }
    .main__ppal-biblio__biblio__acordeon {
      margin-left: 15px;
      margin-right: 35px; }

/* Pagina de Contacto */
.main__contacto {
  display: flex;
  color: black;
  background-image: linear-gradient(to bottom, white, grey);
  flex-direction: column;
  flex-wrap: wrap;
  height: 95vh; }

/* Pagina de Membresia */
.main__ppal-membresia {
  color: black;
  background-image: linear-gradient(to bottom, white, grey); }

/* Pagina Sobre Nosotros */
.main__sobrenos {
  display: flex;
  color: black;
  background-image: linear-gradient(to bottom, white, grey);
  flex-direction: column;
  align-self: center;
  align-items: center; }

.img__sobrenos {
  height: 450px; }

/* MEDIA QUERIE PARA CELULAR */
@media (min-width: 320px) and (max-width: 575px) {
  .header__ul {
    flex-direction: column;
    flex-grow: 0; }
  /* Media Querie para Footer en gral */
  .footer__nav {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; }
  .footernav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2; }
  .footerredes {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    align-items: center; }
  .footerder {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: flex-start;
    align-items: flex-start;
    margin-left: auto; }
  /* Media Querie para Contacto */
  .ocultar {
    display: none; } }

/* MEDIA QUERIE PARA TABLET */
@media (min-width: 576px) and (max-width: 992px) {
  /* Media Querie para Contacto */
  .ocultar {
    display: none; } }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  color: black;
  font-family: "Ubuntu", sans-serif; }

h1 {
  font-family: "Ubuntu", sans-serif; }

.fuente {
  font-family: "Playfair Display", serif; }
