@import "utilities/variables";
@import "utilities/operadores";
@import "layout/footer";
@import"layout/header";
@import"views/inicio";
@import"views/biblioteca";
@import"views/contacto";
@import"views/membresia";
@import"views/sobrenos";
@import"layout/mediaquerie";
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    color: rgb(0, 0, 0);
    font-family: $fuente-ppal;
}
h1{
    font-family: $fuente-sec;
}
h3{
    font-family: $fuente-sec;
}
.fuente{
    font-family: $fuente-sec;
}


