/* MEDIA QUERIE PARA CELULAR */
@media (min-width:320px) and (max-width:575px){
.header__ul{
    flex-direction: column;
    flex-grow: 0;
}
.footer__ul{
    display: flex;
    flex-direction: column;
    @include align(center,center);
}
.footer__redes{
    display: flex;
    flex-direction: column;
    @include align(center,center);
}
/* Media Querie para Contacto,Membresia y Bilbioteca */
.ocultar{
    display: none;
}
.ocultar__biblio{
    display: none;
}
}
/* MEDIA QUERIE PARA TABLET */
@media (min-width:576px) and (max-width:992px){
/* Media Querie para Contacto */
.ocultar{
    display: none;
}
}