/* Pagina de biblioteca */
.main__ppal-biblio{
    display: flex;
    background-image: $fondo;
    flex-direction: column;
        .biblio__acordeon{
            margin-left: 15px;
        }
}
.biblio__img{
    width: 600px;
    height: 700px;
}
.biblio__text{
    display: flex;
    @include align(center,center);
    margin-top: 50px;
    font-family: $fuente-sec;
    font-weight: bolder;
}
.biblio__text--dest{
    font-family: $fuente-sec;
    font-weight: bold;
}