/* Pagina Sobre Nosotros */
.main__sobrenos{
    display: flex;
    color: rgb(0, 0, 0);
    background-image: $fondo;
    flex-direction: column;
    @include align(center, center);
}
.img__sobrenos{
    height: 450px;
    width: 450px;
    border-radius: 10%;
    box-shadow: 0 0 20px #333;
}
.sobrenos__integrantes{
    display: flex;
    justify-content: center;
    @include align(center,center);

}